fastapi==0.75.2
numpy==1.22.2
pandas==1.4.1
psycopg2==2.9.3
psycopg2_binary==2.9.3
pymongo==4.0.1
pydantic==1.9.0
PyYAML==6.0
scikit_learn==1.0.2
uvicorn==0.15.0
sentence_transformers
pyarrow==8.0.0
mlxtend==0.20.0
sentry-sdk==1.5.10
python-dotenv==0.19.2
